In [20]:
#from Univariate import Univariate 
#Obj=Univariate()

IndentationError: unindent does not match any outer indentation level (Univariate.py, line 61)

In [13]:
import pandas as pd

In [21]:
# Create an instance of the Univariate class
univariate_analysis = Univariate()

NameError: name 'Univariate' is not defined

In [14]:
dataset=pd.read_csv("Placement.csv")

In [15]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [16]:
#quan,qual = Univariate.quanQual(dataset)

In [19]:
# Create an instance of the Univariate class
univariate_analysis = Univariate()

# Call the quanQual method to segregate quantitative and qualitative columns
quan_columns, qual_columns = univariate_analysis.quanQual(dataset)

print("Quantitative Columns:", quan_columns)
print("Qualitative Columns:", qual_columns)

NameError: name 'Univariate' is not defined

In [18]:
quan

NameError: name 'quan' is not defined

In [ ]:
freq=Univariate.freqTable(colunName,dataset)

In [2]:
freq

NameError: name 'freq' is not defined